<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% include 'base.html' %}
<div class="container">

    <div class="blue-container">
        {% if messages %}
    {% for message in messages %}
             <div class="alert-message">
    <ul>
        
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li><br>
        {% endfor %}
    </ul>
            
            </div>
{% endif %}
       
        {% if user.is_authenticated %}
            
         <h1 class="welcome"><b><br><br><br><br><br>Вітаємо вас на сайті 
            <br><br><br><br><br><br><br><br>
            </h1>
        {% else %}
         <h1 class="welcome"><b><br><br><br><br><br>Для користування функціями авторизуйтесь будь ласка
             <br><br><br><br><br><br><br><br><br>
         </h1>
        {% endif %}
    </div>

</body>
</html>