{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    

</head>
<body>
{% include 'base.html' %}
<div class="container">
    <div class="blue-container">
    <div class="row">
      <div class="col-md-3">
        <h3>Категорії</h3>
        <ul class="nav flex-column">
            {% for category in categories %} 
          <li class="category-item"><a class="nav-link" href="{% url 'product:category' category.name %}">{{ category.name }}</a></li>
            {% endfor %}
       
    </ul>
  </div>
   <div class="col-md-9">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-left">ID</th>
                    <th class="text-left">Продукт</th>
                    <th class="text-center"></th>
                    <th class="text-center">Ціна</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %} 
                    <tr>
                        <td class="text-left" id="item-id">{{ product.id }}</td>
                        <td class="text-left"><a href="{% url 'product:product_detail' product_id=product.pk %}">
                            {{ product.product_name }}</a></td>
                        <td>
                            <a href="javascript:void(0);" class="add-to-basket" data-product-id="{{ product.id }}">
                                <img src="{% static 'basket/icons/basket-plus.svg' %}" alt="Додати до корзини" title="Додати до корзини">
                            </a>
                        </td>
                        <td class="text-center">{{ product.discounted_price }}</td>
                    </tr>
                {% endfor %}
            
            </tbody>
        </table>
   <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    
                    {% for page in products.paginator.page_range %}
                    <li class="page-item"><a class="page-link" href="{% url 'product:paginator' page %}">{{ page }}</a></li>
                    
                        {% endfor %}
                    
                </ul>
            </nav>         
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on('click', '.add-to-basket', function () {
            const productId = $(this).data('product-id');
            $.ajax({
                url: "{% url 'basket:add_basket' product_id=0 %}".replace('0', productId),
                method: 'POST',
                data: {
                    'quantity': 1, 
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("x-CSRFToken", "{{ csrf_token }}");
                },

                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr.responseText);
                }
            });
        });
    });
</script>
  
</body>
</html>
