<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

</head>
<body>
{% include 'product/base.html' %}

<div class="container">
    <div class="blue-container">
        <form action="{% url 'product:scraper_product' %}">
        <div class="textarea-container">
            <h1>Додавання продукту</h1>
            <textarea name="id_string" class="form-control custom-textarea" rows="4"
                      placeholder="Потрібно ввести ід продукту або ввести декілька ід через пробіл, через кому чи кожен ід на новій строкі"></textarea>
            <input type="submit" class="btn btn-primary search-btn" value="Запустити пошук">
            </form>
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>
</body>
</html>